.right-column {
  display: none;
}

.left-column {
  padding: var(--space-16);
}

.welcoming-title {
  font-weight: 600;
  font-size: var(--font-size-24);
}

.form {
  max-width: 338px;
}

.cta-btn {
  width: 100%;
  margin-top: var(--space-32);
}

.sign-up-prompt,
.login-prompt {
  font-weight: 500;
  font-size: var(--font-size-14);
  margin-top: var(--space-32);
  text-align: center;
}

.sign-up-link,
.log-in-link {
  font-weight: 600;
  text-decoration: underline;
}

/* media queries */
@media (min-width: 768px) {
  .right-column {
    display: block;
    border-left: 2px solid var(--black);
    background-image: url("../img/gears.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .row {
    /* bring columns beside each other */
    display: flex;
  }

  .left-column,
  .right-column {
    /* equal-width columns */
    width: 50%;
  }
  
  	/* Set Playwrite ZA for TaskMate */
	.taskmate-title {
	    font-family: "Playwrite ZA", sans-serif;
	    font-weight: normal;
	}
	
	/* Keep Inter for body text */
	body {
	    font-family: "Inter", sans-serif;
	}
	
	
/* Error bubble styling */
.error-bubble {
    visibility: hidden;
    background-color: white; /* Change bubble background to white */
    color: red; /* Change font color to red */
    text-align: center;
    border-radius: 8px;
    padding: 5px 10px;
    position: absolute;
    top: 100%;
    left: 5px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.error-bubble::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent white transparent; /* Change the arrow to match bubble color */
}

.show-error {
    visibility: visible;
    opacity: 1;
}
	.input-container {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    padding-right: 40px; /* Space for the eye icon */
    height: 40px; /* Adjust based on your design */
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.toggle-password:hover {
    color: #333;
	
}
